:root {
  --main-txt-clr: #737373;
  --secondary-txt-clr: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-txt-clr);
  background-color: gainsboro;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.header {
  color: var(--secondary-txt-clr);
  padding-top: 50px;
}

.header-logo {
  color: var(--secondary-txt-clr);
  margin-right: 8px;
}

.header-link {
  margin-right: auto;
  display: flex;
  align-items: center;
  color: var(--secondary-txt-clr);
  font-size: 16px;
  line-height: calc(30 / 13);
}

/* .header-nav {
  margin: 0 auto;
} */

.header-button {
  margin-left: 52px;
  background-color: transparent;
  color: var(--secondary-txt-clr);
  font-size: 13px;
  line-height: calc(16 / 13);
  border: 1px solid #ffffff;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 15px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  gap: 50px;
}

.header-item {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* Hero title */

.hero {
  padding-top: 240px;
  padding-bottom: 270px;
}

.hero-title {
  margin-bottom: 35px;
  max-width: 421px;
  font-weight: 400;
  font-size: 42px;
  line-height: calc(50 / 42);
  color: var(--secondary-txt-clr);
}

.hero-text {
  margin-bottom: 35px;
  max-width: 420px;
  font-size: 11px;
  line-height: calc(30 / 11);
  color: var(--secondary-txt-clr);
}

.hero-link {
  display: inline-block;
  background-color: #0a8bfe;
  color: var(--secondary-txt-clr);
  font-size: 15px;
  line-height: calc(30 / 15);
  border-radius: 4px;
  padding: 15px 37px;
}
